<!-- sidebar start -->
<div class="admin-sidebar am-offcanvas" id="admin-offcanvas">
    <div class="am-offcanvas-bar admin-offcanvas-bar">
        <ul class="am-list admin-sidebar-list">
            <li><a href="/admin"><span class="am-icon-home"></span> 我的会议</a></li>
            <li><a href="/admin/meetingApply"><span class="am-icon-table"></span> 会议注册</a></li>
            <!--<li><a href="/admin/message"><span class="am-icon-table"></span> 会议留言</a></li>-->
            <!--<li><a href="/admin/myAward"><span class="am-icon-pencil-square-o"></span> 会议抽奖</a></li>-->
            <!--<li><a href="/"><span class="am-icon-pencil-square-o"></span> 会议签到</a></li>-->
        </ul>

        <div class="am-panel am-panel-default admin-sidebar-panel">
            <div class="am-panel-bd">
                <p><span class="am-icon-bookmark"></span> 公告</p>

                <p>时光静好，与君语；细水流年，与君同。—— Amaze UI</p>
            </div>
        </div>

        <div class="am-panel am-panel-default admin-sidebar-panel">
            <div class="am-panel-bd">
                <p><span class="am-icon-tag"></span> 管理员信息</p>

                <p>3号管理员正在操作</p>
            </div>
        </div>
    </div>
</div>
<!-- sidebar end -->