<%- include admin-header %>

<div style="position:relative; left:280px;width: 75%">
<div data-am-widget="duoshuo" class="am-duoshuo am-duoshuo-default"  data-ds-short-name="amazeui">
    <div class="ds-thread" >
    </div>
</div>
</div>
<div style="position: absolute;top:50px">
<%- include admin-mleft%>
</div>
<%- include admin-footer %>
