
</div>
<a href="#" class="am-show-sm-only admin-menu" data-am-offcanvas="{target: '#admin-offcanvas'}">
    <span class="am-icon-btn am-icon-th-list"></span>
</a>

<footer>
    <hr>
    <p class="am-padding-left"></p>
</footer>

<script src="/assets/js/jquery.min.js"></script>
<script src="/assets/js/amazeui.min.js"></script>
<script src="/javascripts/jquery.mousewheel.js"></script>
<script src="/assets/js/app.js"></script>
<script src="/javascripts/event.js"></script>
<script src="/javascripts/login_reg.js"></script>
<script src="/javascripts/meeting_apply.js"></script>
<script src="/datetimepicker/build/jquery.datetimepicker.full.js"></script>
<script src="/datetimepicker/datetime.js"></script> 
</body>
</html>
