<p  style="font-size:xx-small">知了科技©版权所有&nbsp;技术支持：耿桦 侯庭帅 郝莎莎 刘力瑄 刘瑞琪 秦晓杰 闫语亭</p>
<div data-am-widget="gotop" class="am-gotop am-gotop-fixed" >
    <a href="#top" title="">
        <i class="am-gotop-icon am-icon-hand-o-up"></i>
    </a>
</div>
</article>
<div data-am-widget="navbar" class="am-navbar am-cf am-navbar-default "
     id="">
    <ul class="am-navbar-nav am-cf am-avg-sm-4">
        <li >
        
            <a href="/user/schedule?meetingId=<%= meeting.meetingId %>"  class="">
                <span class="am-icon-leanpub"></span>
                <span class="am-navbar-label">日程</span>
            </a>
        </li>
        <li >
            <a href="tel:" class="">
                <img src="http://amazeui.b0.upaiyun.com/assets/i/cpts/navbar/phone.png" alt="呼叫"/>
                <span class="am-navbar-label">会务</span>
            </a>
        </li>
        <!-- <li data-am-navbar-share>
            <a href="###" class="">
                <img src="http://amazeui.b0.upaiyun.com/assets/i/cpts/navbar/share.png" alt="分享"/>
                <span class="am-navbar-label">分享</span>
            </a>
        </li> -->
        <li >
            <a href="http://www.google.cn/maps" class="">
                <img src="http://amazeui.b0.upaiyun.com/assets/i/cpts/navbar/map.png" alt="地图"/>
                <span class="am-navbar-label">地图</span>
            </a>
        </li>
    </ul>
</div>


<script src="/assets/js/jquery.min.js"></script>
<script src="/assets/js/amazeui.min.js"></script>

</body>
<!--[if (gte IE 9)|!(IE)]><!-->
<!--<![endif]-->
<!--[if lte IE 8 ]>
<script src="http://libs.baidu.com/jquery/1.11.3/jquery.min.js"></script>
<script src="http://cdn.staticfile.org/modernizr/2.8.3/modernizr.js"></script>
<script src="/assets/js/amazeui.ie8polyfill.min.js"></script>
<![endif]-->
<script src="/assets/js/amazeui.min.js"></script>
<script src="/javascripts/meeting_apply.js"></script>
</body>
</html>
