<%-include header.ejs%>
<form class="am-form" enctype="multipart/form-data" method="post">
    <fieldset>
        <legend>请填写IP申请表:</legend>
        <div class="am-form-group">
            <label for="doc-ipt-name-1">姓名</label>
            <input name="Name" type="text" id="doc-ipt-name-1" placeholder="姓名只能输入字母或汉字" class="am-form-field am-round" required="required">
        </div>
        <div class="am-form-group">
            <label for="doc-ipt-number-1">联系方式</label>
            <input name="Contact" type="text" id="doc-ipt-number-1" class="am-form-field am-round" placeholder="只接受手机号码" required="required">
        </div>
        <div class="am-form-group">
            <label for="doc-ipt-MAC-1">MAC地址</label>
            <input name="MAC" type="text"id="doc-ipt-MAC-1" class="am-form-field am-round" placeholder="示例：4c-eb-f3-11-45-ac,抄写或拍照上传">
        </div>
        <div class="am-form-group">
            <label for="doc-ipt-address-1">办公地点</label>
            <input name="OfficeAddress" type="text"id="doc-ipt-address-1" class="am-form-field am-round" placeholder="请详细指明所在楼栋" required="required">
        </div>
        <div class="am-form-group">
            <label for="doc-select-1">所在院系</label>
            <select name="Department" id="doc-select-1">
                <option value="计算机科学与技术学院">计算机科学与技术学院</option>
                <option value="机械学院">机械学院</option>
                <option value="艺术学院">艺术学院</option>
                <option value="体育学院">体育学院</option>
                <option value="人文社科学院">人文社科学院</option>
                <option value="环境学院">环境学院</option>
                <option value="电子学院">电子学院</option>
                <option value="经济管理学院">经济管理学院</option>
                <option value="应科学院">应科学院</option>
            </select>
            <span class="am-form-caret"></span>
        </div>
        <div class="am-form-group am-form-file">
           <!-- <label for="doc-ipt-picture-2">拍照或上传</label>
            <div>
                <button type="button" class="am-btn am-btn-default am-btn-sm">
                    <i class="am-icon-cloud-upload"></i> 选择要上传的图片</button>
            </div>-->
            照片：<input type="file" name="img" />
        </div>
        <button  type="submit" class="am-btn am-btn-default am-round" id="present">提交</button>
        <a href="/internet-connection-ip-next" class="am-btn am-btn-default am-round">退出申请</a>
        <p><br/></p>
    </fieldset>
</form>
<%include footer.ejs %>