<%-include header.ejs%>
<div class="am-round am-animation-slide-left  round-div-1"><a class="overlay" href="/internet-connection-ip-next">我的IP</a></div>
<div class="am-round am-animation-slide-top am-animation-delay-1 round-div-2"><a class="overlay">上网开通</a></div>
<div class="am-round am-animation-slide-bottom am-animation-delay-1 round-div-3"><a class="overlay">邮箱开通</a></div>
<div class="am-round am-animation-slide-right  round-div-4"><a class="overlay">OA开通</a></div>
<%include footer.ejs %>