
<%-include header.ejs%>
    <ul class="am-avg-sm-3 boxes">
        <li class="box box-1"><a href="/internet-connection">网络开通</a></li>
        <li class="box box-2"><a href="/trouble-repair">故障报修</a></li>
        <li class="box box-3"><a>网络维护</a></li>
        <li class="box box-4"><a>行程安排</a></li>
        <li class="box box-5"><a>请假功能</a></li>
        <li class="box box-6"><a>公文传送</a></li>
        <li class="box box-7"><a>支付功能</a></li>
        <li class="box box-8"><a>即将上线</a></li>
        <li class="box box-9"><a>即将上线</a></li>
    </ul>
<%include footer.ejs %>
