<!doctype html>
<html class="no-js">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="">
    <meta name="keywords" content="">
    <meta name="viewport"
          content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <title>会议报名</title>

    <!-- Set render engine for 360 browser -->
    <meta name="renderer" content="webkit">

    <!-- No Baidu Siteapp-->
    <meta http-equiv="Cache-Control" content="no-siteapp"/>

    <link rel="icon" type="image/png" href="/assets/i/favicon.png">

    <!-- Add to homescreen for Chrome on Android -->
    <meta name="mobile-web-app-capable" content="yes">
    <link rel="icon" sizes="192x192" href="/assets/i/app-icon72x72@2x.png">

    <!-- Add to homescreen for Safari on iOS -->
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="apple-mobile-web-app-title" content="Amaze UI"/>
    <link rel="apple-touch-icon-precomposed" href="/assets/i/app-icon72x72@2x.png">

    <!-- Tile icon for Win8 (144x144 + tile color) -->
    <meta name="msapplication-TileImage" content="/assets/i/app-icon72x72@2x.png">
    <meta name="msapplication-TileColor" content="#0e90d2">

    <link rel="stylesheet" href="/assets/css/amazeui.min.css">
    <link rel="stylesheet" href="/assets/css/app.css">
    <link rel="stylesheet" href="/stylesheets/main.css">
    <script src="/assets/js/jquery.min.js"></script>
</head>
<body>

<div>
    <form method="post" action="" class="am-form" data-am-validator>
        <fieldset>
            <legend id="reg-id">报名</legend>
            <div class="am-form-group">
                <label for="doc-vld-name-3">真实姓名：</label>
                <input type="text" id="doc-vld-name-3" name="truename" minlength="3" placeholder="输入真实姓名（至少 3 个字符）" required/>
            </div>

            <div class="am-form-group">
                <label for="doc-vld-email-3">邮箱：</label>
                <input type="email" id="doc-vld-email-3" name="email" placeholder="输入邮箱" required/>
            </div>
            <div class="am-form-group">
                <label for="doc-vld-telephone-3">工作电话：</label>
                <input type="text" class="" id="doc-vld-telephone-3" name="connect" placeholder="输入工作电话 "
                       required/>
            </div>
            <div class="am-form-group">
                <label for="doc-vld-telephone-4">联系方式：</label>
                <input type="text" class="" id="doc-vld-telephone-4" name="telephone" placeholder="输入手机号码 "
                       required/>
            </div>
            <div class="am-form-group">
                <label for="doc-vld-job-3">工作单位：</label>
                <input type="text" class="" id="doc-vld-job-3" name="company" placeholder="输入您的工作单位"
                       required/>
            </div>
            <div class="am-form-group">
                <label for="doc-vld-job-4">职务：</label>
                <input type="text" class="" id="doc-vld-job-4" name="job" placeholder="输入您的职务"
                       required/>
            </div>
            <div class="am-form-group">
                <label for="doc-vld-QQ">QQ：</label>
                <input type="text" class="" id="doc-vld-QQ" name="qq" placeholder="输入您的QQ号码"/>
            </div>

            <button class="am-btn am-btn-secondary" type="submit" >报名</button>
            <button class="am-btn am-btn-secondary" type="reset" >重置</button>
        </fieldset>
    </form>
</div>

</body>
<!--[if (gte IE 9)|!(IE)]><!-->
<script src="/wx/guagua.js"></script>
<!--<![endif]-->
<!--[if lte IE 8 ]>
<script src="http://libs.baidu.com/jquery/1.11.3/jquery.min.js"></script>
<script src="http://cdn.staticfile.org/modernizr/2.8.3/modernizr.js"></script>
<script src="/assets/js/amazeui.ie8polyfill.min.js"></script>
<![endif]-->
<script src="/assets/js/amazeui.min.js"></script>
</body>
</html>
