<html>
  <head>
    <meta charset="utf-8">
      <meta name="viewport"
            content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <title>确认签到</title>
    <link rel="stylesheet" href="/signin/signin/app.min.css?a=1">
    <link rel="stylesheet" href="/signin/signin/page_login26f6ea.css">
    <!-- <link rel="stylesheet" href="bootstrap-3.3.5/dist/css/bootstrap.min.css"> -->

  </head>
  <body class="pageBg login_frame" style="background-image:url(/signin/signin/20150929133002_34806.jpg); background-size:100% 100%">
    <!-- main开始 -->


        <form method="post" class="login_form" id="loginForm">
            <div class="login_input_panel" style="width: 90%;font-weight: 800" id="js_mainContent">
                <br>
                <h3>签到</h3>
              <br>
                <label for="doc-vld-name-2">真实姓名：</label>
              </br>
              <br>
                <div class="login_input " style="opacity: 0.6;">
                    <input  type="text" id="doc-vld-name-2" placeholder="<%= truename %>" name="realname">
                </div>
              </br>
              
                <label for="doc-vld-password-1">联系电话：</label>
               <br>
              <br>
                <div class="login_input"  style="opacity: 0.6;">
                    <input   type="text" id="doc-vld-name-2" placeholder="<%= telephone %>" name="telephone">
                </div>
              </br>
            </div>
          
            <div class="login_help_panel">
            </div>
            <div class="login_btn_panel">
              <button type="submit" class="am-btn am-btn-primary  am-btn-block btn_login">确认签到</button>
            </div>
        </form>
  </body>
</html>