<%-include header.ejs%>
<div class="am-round am-animation-slide-left round-div-1"><a class="overlay" href="/trouble-repair-system">自助系统</a></div>
<div class="am-round am-animation-slide-top round-div-2"><a class="overlay" href="/trouble-repair-people">人工服务</a></div>
<div class="am-round am-animation-spin round-div-3"><a class="overlay" >即将上线</a></div>
<div class="am-round am-animation-spin round-div-4"><a class="overlay">即将上线</a></div>
<%include footer.ejs %>