<%-include header.ejs%>
<form class="am-form" enctype="multipart/form-data">
    <hr data-am-widget="divider" style="border-width: 2px;border-color: #0084c7" class="am-divider am-divider-dashed" />
    <div class="am-panel am-panel-success">
        <div class="am-panel-hd" style="text-align: center">
            <h3 class="am-panel-title">上网卡慢</h3>
        </div>


        <div class="am-panel-bd">

            <div class="am-panel-group" id="accordion">

                <div class="am-panel am-panel-default">
                    <div class="am-panel-hd">
                        <h4 class="am-panel-title" data-am-collapse="{parent: '#accordion', target: '#do-not-say-1'}">
                            解决方案一
                        </h4>
                    </div>
                    <div id="do-not-say-1" class="am-panel-collapse am-collapse am-in">
                        <div class="am-panel-bd">
                            <p><h2><a href="u/网络/2015-8-16 15:19/wangluooo">wangluogongcheng</a></h2></p>
                            <p class="info">
                                作者：<a href="u/网络">刘瑞琪</a> |
                                日期：2015-8-16
                            </p>
                            <p>
                                青衣水袖台上华服绣舞，缱绻朱红木椅，软榻香花，追梦的路上人又是怎样的匆匆，阳光古道，纵马疾驰，不经意间遗落了许多本可拾于怀的花穗，错过晨曦美景；而台下终究锦袍布衣难已取舍，戴着晶亮炫丽的链，转瞬暮色四合，回望，世事而非，尘世寂寥，半笺芳华尽染，一切都回不去的原乡.......

                                每每总欢喜幼时原野美景，山花浪漫，绿意繁盛。粗茶淡饭，布衣草帽，一切皆如梦中般纯真随意。

                                于是，我在阳台处养许多花草，楼顶平台也是各种花卉聚集，宛如一小花园；名贵的牡丹，芍药，蕙兰、马蒂莲、多种月季、枝叶盆景等，还有许多的草花。

                                初始，长得也喜得人意，绿意盎然，花开娇美，香彻了楼台。青衣水袖台上华服绣舞，缱绻朱红木椅，软榻香花，追梦的路上人又是怎样的匆匆，阳光古道，纵马疾驰，不经意间遗落了许多本可拾于怀的花穗，错过晨曦美景；而台下终究锦袍布衣难已取舍，戴着晶亮炫丽的链，转瞬暮色四合，回望，世事而非，尘世寂寥，半笺芳华尽染，一切都回不去的原乡.......

                                每每总欢喜幼时原野美景，山花浪漫，绿意繁盛。粗茶淡饭，布衣草帽，一切皆如梦中般纯真随意。

                                于是，
                                <a href="#">
                                    <img class="am-img-thumbnail am-img-bdrs" src="http://s.amazeui.org/media/i/demos/bing-1.jpg" alt=""/>
                                    <div class="gallery-title">远方 有一个地方 那里种有我们的梦想</div>
                                    <div class="gallery-desc">2375-09-26</div>
                                </a>
                                青衣水袖台上华服绣舞，缱绻朱红木椅，软榻香花，追梦的路上人又是怎样的匆匆，阳光古道，纵马疾驰，不经意间遗落了许多本可拾于怀的花穗，错过晨曦美景；而台下终究锦袍布衣难已取舍，戴着晶亮炫丽的链，转瞬暮色四合，回望，世事而非，尘世寂寥，半笺芳华尽染，一切都回不去的原乡.......

                                每每总欢喜幼时原野美景，山花浪漫，绿意繁盛。粗茶淡饭，布衣草帽，一切皆如梦中般纯真随意。

                                于是，我在阳台处养许多花草，楼顶平台也是各种花卉聚集，宛如一小花园；名贵的牡丹，芍药，蕙兰、马蒂莲、多种月季、枝叶盆景等，还有许多的草花。

                                初始，长得也喜得人意，绿意盎然，花开娇美，香彻了楼台。青衣水袖台上华服绣舞，缱绻朱红木椅，软榻香花，追梦的路上人又是怎样的匆匆，阳光古道，纵马疾驰，不经意间遗落了许多本可拾于怀的花穗，错过晨曦美景；而台下终究锦袍布衣难已取舍，戴着晶亮炫丽的链，转瞬暮色四合，回望，世事而非，尘世寂寥，半笺芳华尽染，一切都回不去的原乡.......

                                每每总欢喜幼时原野美景，山花浪漫，绿意繁盛。粗茶淡饭，布衣草帽，一切皆如梦中般纯真随意。

                                于是，我在阳台处养许多花草，楼顶平台也是各种花卉聚集，宛如一小花园；名贵的牡丹，芍药，蕙兰、马蒂莲、多种月季、枝叶盆景等，还有许多的草花。

                                初始，长得也喜得人意，绿意盎然，花开娇美，香彻了楼台。青衣水袖台上华服绣舞，缱绻朱红木椅，软榻香花，追梦的路上人又是怎样的匆匆，阳光古道，纵马疾驰，不经意间遗落了许多本可拾于怀的花穗，错过晨曦美景；而台下终究锦袍布衣难已取舍，戴着晶亮炫丽的链，转瞬暮色四合，回望，世事而非，尘世寂寥，半笺芳华尽染，一切都回不去的原乡.......

                                每每总欢喜幼时原野美景，山花浪漫，绿意繁盛。粗茶淡饭，布衣草帽，一切皆如梦中般纯真随意。

                                于是，我在阳台处养许多花草，楼顶平台也是各种花卉聚集，宛如一小花园；名贵的牡丹，芍药，蕙兰、马蒂莲、多种月季、枝叶盆景等，还有许多的草花。

                                初始，长得也喜得人意，绿意盎然，花开娇美，香彻了楼台。
                            </p>
                        </div>
                    </div>
                </div>
                <div class="am-panel am-panel-default">
                    <div class="am-panel-hd">
                        <h4 class="am-panel-title" data-am-collapse="{parent: '#accordion', target: '#do-not-say-2'}">
                            解决方案二
                        </h4>
                    </div>
                    <div id="do-not-say-2" class="am-panel-collapse am-collapse">
                        <div class="am-panel-bd">
                            ...
                        </div>
                    </div>
                </div>
                <div class="am-panel am-panel-default">
                    <div class="am-panel-hd">
                        <h4 class="am-panel-title" data-am-collapse="{parent: '#accordion', target: '#do-not-say-3'}">
                            解决方案三
                        </h4>
                    </div>
                    <div id="do-not-say-3" class="am-panel-collapse am-collapse">
                        <div class="am-panel-bd">
                            。。。
                        </div>
                    </div>
                </div>

            </div>
        </div>



    </div>
</form>
<%include footer.ejs %>