<%-include header.ejs%>
<form class="am-form" enctype="multipart/form-data">
    <hr data-am-widget="divider" style="border-width: 2px;border-color: #0084c7" class="am-divider am-divider-dashed" />
    <div class="am-g">
        <div class="am-u-sm-6">
            <div class="am-animation-slide-top">

                <div class="am-panel am-panel-success" >
                    <div class="am-panel-hd" >
                        <h3 class="am-panel-title">公司内部异常</h3>
                    </div>
                    <ul class="am-list am-list-static am-scrollable-vertical">
                        <li><a href="/trouble-repair-system-solve">邮箱登陆不了</a></li>
                        <li><a href="/trouble-repair-system-solve">IP地址怎么用</a></li>
                        <li><a href="/trouble-repair-system-solve">MAC地址哪里找</a></li>
                        <li><a href="/trouble-repair-system-solve">上网账户登不上</a></li>
                        <li><a href="/trouble-repair-system-solve">上网账户登不上</a></li>
                        <li><a href="/trouble-repair-system-solve">上网账户登不上</a></li>
                        <li><a href="/trouble-repair-system-solve">上网账户登不上</a></li>
                        <li><a href="/trouble-repair-system-solve">上网账户登不上</a></li>
                        <li><a href="/trouble-repair-system-solve">上网账户登不上</a></li>
                        <li><a href="/trouble-repair-system-solve">上网账户登不上</a></li>
                    </ul>
                </div>

            </div>
        </div>
        <div class="am-u-sm-6">
            <div class="am-animation-slide-top am-animation-delay-1">

                <div class="am-panel am-panel-warning">
                    <div class="am-panel-hd">
                        <h3 class="am-panel-title">上网异常</h3>
                    </div>
                    <ul class="am-list am-list-static am-scrollable-vertical">
                        <li><a href="/trouble-repair-system-solve">上不了网</a></li>
                        <li><a href="/trouble-repair-system-solve">浏览器崩溃</a></li>
                        <li><a href="/trouble-repair-system-solve">网页打不开</a></li>
                        <li><a href="/trouble-repair-system-solve">主页被篡改</a></li>
                        <li><a href="/trouble-repair-system-solve">总是弹出拨号连接</a></li>
                    </ul>
                </div>


            </div>
        </div>
    </div>

        <div class="am-u-sm-6">
            <div class="am-animation-slide-top am-animation-delay-2">

                <div class="am-panel am-panel-danger">
                    <div class="am-panel-hd">
                        <h3 class="am-panel-title">电脑故障</h3>
                    </div>
                    <ul class="am-list am-list-static am-animation-delay-1">
                        <li><a href="/trouble-repair-system-solve">没有声音</a></li>
                        <li><a href="/trouble-repair-system-solve">看不了网页视频</a></li>
                        <li><a href="/trouble-repair-system-solve">电脑经常蓝屏</a></li>
                        <li><a href="/trouble-repair-system-solve">图标显示异常</a></li>
                    </ul>
                </div>

            </div>
        </div>
        <div class="am-u-sm-6">
            <div class="am-animation-slide-top am-animation-delay-2">

                <div class="am-panel am-panel-secondary">
                    <div class="am-panel-hd">
                        <h3 class="am-panel-title">电脑卡慢</h3>
                    </div>
                    <ul class="am-list am-list-static am-animation-delay-1">
                        <li><a href="/trouble-repair-system-solve">电脑开机太慢</a></li>
                        <li><a href="/trouble-repair-system-solve">电脑太卡</a></li>
                        <li><a href="/trouble-repair-system-solve">网页打开慢</a></li>
                        <li><a href="/trouble-repair-system-solve">玩游戏太卡</a></li>
                    </ul>
                </div>

            </div>
        </div>
    </div>
    <p>

    <hr data-am-widget="divider" style="border-width: 2px;border-color: #0084c7" class="am-divider am-divider-dashed" />
    <br/>
    </p>
</form>
<%include footer.ejs %>