<%-include header.ejs%>
<form class="am-form" enctype="multipart/form-data">
    <fieldset>
        <legend>待解决故障详情:</legend>
        <div class=" am-form-group am-g">
            <div class="am-u-sm-3"><label for="">姓名</label></div>
            <div class="am-u-sm-9"><input type="text" class="am-form-field am-round" readonly="readonly">
            </div>
        </div>
        <div class=" am-form-group am-g">
            <div class="am-u-sm-3"><label for="">联系方式</label></div>
            <div class="am-u-sm-9"><input type="text" class="am-form-field am-round" readonly="readonly">
            </div>
        </div>
        <div class="am-form-group  am-g">
            <div class="am-u-sm-3"><label for="">办公地点</label></div>
            <div class="am-u-sm-9"><input type="text" class="am-form-field am-round" readonly="readonly">
            </div>
        </div>
        <div class="am-form-group  am-g">
            <div class="am-u-sm-3"><label for="">所在院系</label></div>
            <div class="am-u-sm-9"><input type="text" class="am-form-field am-round" readonly="readonly">
            </div>
        </div>
        <div class="am-form-group">
            <label for="doc-ta-1">故障详情</label>
            <textarea class="" rows="5"  readonly="readonly" ></textarea>
        </div>
        <div class="am-form-group" id="addPicture"></div>
        <button  class="am-btn am-btn-default am-round " id="alter">修改</button>
        <button  class="am-btn am-btn-default am-round" id="resave">保存</button>
        <button  class="am-btn am-btn-default am-round" id="cancel">取消申请</button>
        <a href="/trouble-repair-people" class="am-btn am-btn-default am-round">返回</a>
        <p><br/></p>
    </fieldset>
</form>
<script type="text/javascript">
   $(document).ready(function(){
        alert('我们正在玩命与管理员联系，管理员将与您在微信交流，请稍后。');
    });
</script>
<%include footer.ejs %>