<!doctype html>
<html>
<head>
    <title>test</title>
</head>
<body>
<a href="https://open.weixin.qq.com/connect/oauth2/authorize?appid=wx17594e92c12d9afd&redirect_uri=http%3A%2F%2Fcardwechat.tyust.edu.cn%2Fliuruiqi&response_type=code&scope=snsapi_userinfo&state=state#wechat_redirect
">微信认证</a>
</body>
</html>