a {
    color: #00B7FF;
}
.black{
    background-color: black;
    opacity: 0.7;
}
.hp{

    overflow: hidden;
    background-color: black;
}
.background{
    background-color: #cf2d27;
    background-image: url("../wx/1.jpg");
    background-position: top center;
    background-repeat: no-repeat;
    width: 100%;
    min-height:500px;
    _height:500px;
}
.guagua, .guaguap{
    position: absolute;
    width: 110px;
    height: 60px;
    border-width: 4px;
    border-color: black;
    border-style: dashed;
    font-size: xx-large;
    font-weight: 800;
    top: 55%;
    left: 55%;
    transform: rotate(-20deg);
}
.guaguap{
    background-color: #777777;
}
.block{
    background:rgba(0,0,0,0.3);
    width: 150px;
    height: 150px;
   font-size: large;
    font-weight: 700;
    color: white;
   text-align: center;
    position:absolute;
    left:50%;
    top:270px;
}
.block1{
    position: relative;
    top: 40px;

}
.endblock{
    background:rgba(0,0,0,0.4);
    position:fixed;
    height: 7%;
    top: 93%;
    width:100%;
    color:white;
}
.position-left{

    margin-left:150px;

}
.position-center{

    margin-left:-75px;
}
.position-right{
    margin-left:-300px;
}